.article__title {
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  margin: 0 0 30px;
  outline: 0;
}

.article__title:empty:before {
  content:attr(data-placeholder);
  color:lightgray;
}